body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main_topbar-carousel {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: relative;
  width: 100%;
  height: fit-content;

  /* white */

  background: #ffffff;
}

@import "TopBar.scss";
@import "Carousel.scss";
@import "Banner.scss";
@import "Benefit.scss";

.section-local-hotel {
  width: 1920px;
  height: 760px;

  /* navy/navy_1 | #30373F */

  background: #30373f;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
}
