// font
@import "fonts/ptserif/ptserif.css";
@import "fonts/pretendard/pretendard.css";

@import "TopBar.scss";
@import "Carousel.scss";
@import "Banner.scss";
@import "Benefit.scss";
@import "hotels.scss";

.main_topbar-carousel {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: relative;
  width: 100%;
  height: fit-content;

  /* white */

  background: #ffffff;
}
