.section-carousel {
  width: 100%;
  height: 530px;

  /* gray/gray_3 | #8D8D8D */

  background: #8d8d8d;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination {
    position: absolute;
    top: initial;
    bottom: 24px;
    left: 260px;

    max-width: 470px;

    @media (min-width: 800px) {
      width: 30vw;
    }

    span {
      background-color: #fff;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .slide-control {
    position: absolute;
    width: 1200px;

    @media (max-width: 1250px) {
      width: 100%;
      padding: 0 10px;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    bottom: 0;
    z-index: 1;

    .slide-counter {
      width: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      font-family: "PT Serif";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      /* identical to box height */
      letter-spacing: 2.66667px;

      /* white */

      color: #ffffff;
    }

    .slide-btn {
      box-sizing: border-box;

      /* Auto layout */

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 8px;

      width: 32px;
      height: 32px;

      opacity: 0.5;
      /* white */

      border: 1px solid #ffffff;
      border-radius: 100px;

      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;

      color: #fff;
    }
  }
}
